accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiomysql==0.3.2
aiosignal==1.4.0
alembic==1.17.1
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
arq==0.26.3
asyncmy==0.2.10
attrs==25.4.0
av==16.0.1
BTrees==6.2
certifi==2025.10.5
cffi==2.0.0
Chameleon==4.6.0
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.6.0
datasets==4.3.0
decorator==5.2.1
diffusers==0.35.2
dill==0.4.0
distro==1.9.0
fastapi==0.120.4
faster-whisper==1.2.1
filelock==3.20.0
flatbuffers==25.9.23
frozenlist==1.8.0
fsspec==2025.9.0
greenlet==3.2.4
grok==6.1
grokcore.annotation==5.0
grokcore.catalog==5.0
grokcore.chameleon==5.0
grokcore.component==5.0
grokcore.content==5.0
grokcore.formlib==5.0
grokcore.layout==5.0
grokcore.message==5.0
grokcore.security==5.0
grokcore.site==5.0
grokcore.traverser==5.0
grokcore.view==5.0
grokcore.viewlet==5.0
groq==0.33.0
gTTS==2.5.4
h11==0.16.0
hiredis==3.3.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
Jinja2==3.1.6
joblib==1.5.2
Mako==1.3.10
MarkupSafe==3.0.3
martian==2.1
moviepy==2.2.1
mpmath==1.3.0
multidict==6.7.0
multipart==1.3.0
multiprocess==0.70.16
networkx==3.5
nltk==3.9.2
numpy==2.3.4
onnxruntime==1.23.2
packaging==25.0
pandas==2.3.3
persistent==6.3
pillow==11.3.0
proglog==0.1.12
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.3
pyarrow==22.0.0
pycparser==2.23
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic_core==2.41.4
pydub==0.25.1
PyJWT==2.10.1
PyMySQL==1.1.2
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-gettext==5.0
pytz==2025.2
PyYAML==6.0.3
redis==5.3.1
regex==2025.10.23
requests==2.32.5
safetensors==0.6.2
sentencepiece==0.2.1
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
SQLAlchemy==2.0.44
starlette==0.49.3
sympy==1.14.0
textblob==0.19.0
tokenizers==0.22.1
torch==2.9.0
torchaudio==2.9.0+cpu
tqdm==4.67.1
transaction==5.0
transformers==4.57.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
watchfiles==1.1.1
websockets==15.0.1
xxhash==3.6.0
yarl==1.22.0
z3c.flashmessage==4.0
z3c.pt==5.1
zc.catalog==5.0
zc.lockfile==4.0
ZConfig==4.2
zdaemon==5.2.1
zipp==3.23.0
ZODB==6.1
zodbpickle==4.2
zope.annotation==6.0
zope.app.appsetup==6.0
zope.app.publication==6.0
zope.app.wsgi==6.0
zope.authentication==6.0
zope.browser==4.0
zope.browserpage==6.0
zope.browserresource==6.0
zope.cachedescriptors==6.0
zope.catalog==6.0
zope.component==7.0
zope.configuration==7.0
zope.container==7.0
zope.contentprovider==7.0
zope.contenttype==6.0
zope.datetime==6.0
zope.deferredimport==6.0
zope.deprecation==6.0
zope.dottedname==7.0
zope.error==6.0
zope.errorview==3.0
zope.event==6.0
zope.exceptions==6.0
zope.filerepresentation==7.0
zope.formlib==7.0
zope.generations==7.0
zope.hookable==8.1
zope.i18n==6.0
zope.i18nmessageid==8.1
zope.index==8.0
zope.interface==8.0.1
zope.intid==6.0
zope.keyreference==7.0
zope.lifecycleevent==6.0
zope.location==6.0
zope.login==4.0
zope.minmax==4.0
zope.pagetemplate==6.0
zope.password==6.1
zope.principalregistry==6.0
zope.processlifetime==4.0
zope.proxy==7.0
zope.ptresource==6.0
zope.publisher==8.0
zope.schema==8.1
zope.security==8.2
zope.securitypolicy==6.0
zope.session==6.0
zope.site==6.0
zope.size==6.0
zope.tal==6.0
zope.tales==7.0
zope.testing==6.0
zope.traversing==6.0
zope.viewlet==6.0
